@import "../styles/index.scss";

.app {
    background-color: $green;
    color: $red;
    @include text-style(36px, bold, $red, 140px)
}

.test1 {
    text-transform: uppercase;
}

.test2 {
    font-size: 26px;
}